{% extends 'base.html.twig' %}

{% block title %}Biome - Connecte-toi{% endblock %}

{% block body %}
{% block stylesheet %}
<link rel="stylesheet" href="../css/inscription_connexion_v1.css">
{% endblock %}


     <!--Debut header-->

        <!--Mettre le header-->

    <!--Fin header-->

    <main class="insc_connex_card">
        <img src="../images/images_inscription_connexion/robot_livre.png" alt="Robot livre">
        <div class="insc_connex_connexion">
            <h2>Bienvenue</h2>
    {#       {% if app.user %}
        <div class="mb-3">
            Salut {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    #}
            <p>Si tu es déjà inscrit, tape ton pseudo et ton mot de passe.</p>  
        <form method="post">
         <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
            <label for="ic_pseudo"></label>

                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="insc_connex_input" id="ic_pseudo" placeholder="Ton pseudo" autocomplete="username" required autofocus>
            <label for="ic_mdp"></label>
        
             <input type="password" name="password" id="ic_mdp" placeholder="Ton mot de passe" id="inputPassword" class="insc_connex_input" autocomplete="current-password" required>
            <button class="insc_connex_bouton" type="submit">Se connecter</button>
        </form>
        </div>
        <div class="insc_connex_barre">
        </div>  
        <div class="insc_connex_inscription">
            <p>Tu n'es pas encore inscrit ?</p>
            <a href="{{ path('registration') }}">S'inscrire</a>
        </div>
       
    </main>


    <!--Debut footer-->

        {% include 'petitFooterBleu.html.twig' %}
   <!--Fin footer-->
</body>
 
 

 {#    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    

    

    
   

   

  
{% endblock %}