{% extends 'base.html.twig' %}

{% block title %}Biome - Accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	
	<main>
		<h1>ACCUEIL</h1>
	
		 <ul>
        <li><a href="{% if app.user is null %}{{ path('security') }}{% else %} {{ path('quizz') }}{% endif %}">Commence à jouer</a></li>
        <li><a href="{{ path('parents') }}">Pour les parents</a></li>
        <li><a href="{{ path('registration') }}">Crée ton profil</a></li>
		<li><a href="{{ path('security') }}">log</a></li>
    </ul>
	
	
</main>
<footer>
<a href="{{ path('cgu') }}">CGU - Mentions légales</a>
</footer>
{% endblock %}
