{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

	<main>
		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.avatar, {
            label: 'Choisis ton avatar: '
		
        }) }}


		<img class="choice_avatar" data-name="avatar1" src="{{asset('assets/avatar1.png')}}"/>
        <img class="choice_avatar" data-name="avatar2" src="{{asset('assets/avatar2.png')}}"/>      
		<img class="choice_avatar" data-name="avatar3" src="{{asset('assets/avatar3.png')}}"/>
        <img class="choice_avatar" data-name="avatar4" src="{{asset('assets/avatar4.png')}}"/>      
                       
		{{ form_row(registrationForm.username, {
            label: 'Choisis ton pseudo : '
        }) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Choisis ton mot de passe : '
        }) }}
		
	
        <button type="submit" class="btn">Ok</button>
    {{ form_end(registrationForm,) }}
    </main>
	<script type="text/javascript">

		let fieldHidden = document.getElementById('registration_form_avatar');
		let images = document.getElementsByClassName('choice_avatar');
		
		for(var i = 0; i < images.length; i++) { 
			 (function(index) {                     
				 images[index].addEventListener("click", function() {                   
					   fieldHidden.value = images[index].src.split('/')[4];                    
					    })                 
						})(i);            
						 }
		

	</script>
{% endblock %}
{#  {'render_rest' : false} #}


