{% extends 'base.html.twig' %}

{% block title %}Biome - Mon profil
{% endblock %}

{% block body %}
{% block stylesheet %}
<link rel="stylesheet" href="/css/profil_v1.css">
<link rel="stylesheet" href="https://use.typekit.net/unw5dxt.css">
{% endblock %}


    <!--Debut du header-->

        <!--Mettre le header-->

    <!--Fin du header-->
    <!--Debut du corps-->

        <main class="container profil_main">
            
            <!--Debut avatar+parametres-->
            <div class="profil_avatar">
			
               <img  src="{{ asset ('images/')~app.user.avatar }}"/>
				
                <h2>{{ app.user.username }}</h2>
            </div>
            <div class="profil_parametre">
                <a href=""><img src="../images/images_profil/parametre.png" alt="Picto parametre"></a>
            </div>
            <!--Fin avatar+parametres-->

            <!--Debut tableaux-->
            <div class="profil_tableaux">
                <div class="profil_gauche">

                    <!--Tableau niveau-->
                    <div class="profil_niveau">
                        <h3 class="profil_h3">Ton niveau</h3>
                        <div class="profil_flex">
                            <div class="profil_bloc">
                                <p class="profil_cadre_niveau">Niveau 3</p>
                                <div class="profil_argent">
                                    <span>150</span>
                                    <img src="../images/images_profil/coin.png" alt="Picto pièce">
                                </div>
                            </div>
                            <div class="profil_bloc">
                                <p>Il te manque 50 pièces pour passer au niveau suivant</p>
                                <img class="profil_progres" src="../images/images_profil/niveau.png" alt="Niveau progression">
                            </div>
                        </div>
                    </div>

                    <!--Tableau theme-->
                    <div class="profil_theme">
                        <h3 class="profil_h3">Tes thèmes favoris</h3>
                        <div class="profil_groupe">
                            <a href="" class="profil_carte profil_A">
                                <img src="../images/images_profil/dechets.png" alt="Picto recyclage">
                                <h3 class="profil_theme_h3">La gestion des déchêts</h3>
                            </a>
                            <a href="" class="profil_carte profil_B">
                                <img src="../images/images_profil/durable.png" alt="Picto terre">
                                <h3 class="profil_theme_h3">Consommez de manière durable</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profil_droite">

                    <!--Tableau classement-->
                    <h3 class="profil_h3">Ton classement</h3>
                    <div class="profil_rank">
                        <span>35</span>
                        <span class="profil_rank_nom">Bubulle</span>
                        <span>400</span>
                        <img src="../images/images_profil/coin.png" alt="Picto pièce">
                    </div>
                    <div class="profil_rank_bis">
                        <span>35</span>
                        <span class="profil_rank_nom_bis">Toto13</span>
                        <span>350</span>
                        <img src="../images/images_profil/coin.png" alt="Picto pièce">
                    </div>
                    <div class="profil_rank">
                        <span>35</span>
                        <span class="profil_rank_nom">Nino-75</span>
                        <span>320</span>
                        <img src="../images/images_profil/coin.png" alt="Picto pièce">
                    </div>
                    <div class="profil_rank">
                        <span>35</span>
                        <span class="profil_rank_nom">Mumu27</span>
                        <span>280</span>
                        <img src="../images/images_profil/coin.png" alt="Picto pièce">
                    </div>
                </div>
            </div>
            <!--Fin tableaux-->
        </main>


    <!--Fin du corps-->
    <!--Debut du footer-->

        <!--Mettre le petit footer bleu-->

    <!--Fin du footer-->
</body>
{#
	<main>
		<h1>Mon profil</h1>

		{% if app.user is null %}
			<h1 class="h3 mb-3 font-weight-normal"><a href="{{ path('security') }}">Connecte toi</a></h1><br>
			<h1 class="h3 mb-3 font-weight-normal">Pas encore de compte ?<a href="{{ path('registration') }}">Inscris toi !</a>
			</li>
		</h1>
	{% else %}
		{{ app.user.username }},
		<a href="{{ path('app_logout') }}">Déconnexion</a><br>
		<img  src="{{ asset('images/')~app.user.avatar }}"/>
		{{app.user.score}}
	{% endif %}
#}
</main>{% endblock %}
