{% include 'base.html.twig' %}

{% block title %}Biome - Les thèmes{% endblock %}

{% block body %}
{% block stylesheet %}
<link rel="stylesheet" href="/css/theme_v1.css">
<link rel="stylesheet" href="https://use.typekit.net/unw5dxt.css">
{% endblock %}
    



    <!--Debut du header-->

        <!--Mettre le header-->

    <!--Fin du header-->

    <!--Debut du corps-->
    

     <main class="theme_main">
            <div class="container">
                
                <!--Retour+h2-->
                <div class="theme_retour">
                    <a href="{{ path('home') }}">Retour</a>
                </div>
                <h2 class="theme_h2">Choisis un thème</h2>
                
                <!--Debut themes-->
                <div class="theme_groupe">
                    <a href="" class="theme_carte theme_A">
                        <img src="../images/images_theme/dechets.png" alt="Picto recyclage">
                        <h3 class="theme_h3">La gestion des déchêts</h3>
                    </a>
                    {% for theme in themes %}
                   <a href="{{ path('listquiz', {'themequiz':theme}) }}"class="theme_carte theme_B">
                        <img src="/images/images_theme/durable.png" alt="Picto terre">
                        <h3 class="theme_h3">{{ theme }}</h3>
                        {% endfor %}
                    </a>
                    <a href="" class="theme_carte theme_C">
                        <img src="../images/images_theme/gaspillage.png" alt="Picto poubelle">
                        <h3 class="theme_h3">Le gaspillage</h3>
                    </a>
                    <a href="" class="theme_carte theme_D">
                        <img src="../images/images_theme/pollution.png" alt="Picto Co2">
                        <h3 class="theme_h3">La pollution</h3>
                    </a>
                    <a href="" class="theme_carte theme_E">
                        <img src="../images/images_theme/biodiversité.png" alt="Picto feuille">
                        <h3 class="theme_h3">Protéger la biodiversité</h3>
                    </a>
                </div>
                <!--Fin themes-->
            </div>

{% include 'petitFooterBleu.html.twig' %}

{#<div id="rootQuizz"></div>

  {% for theme in themes %}
    <a href="{{ path('listquiz', {'themequiz':theme}) }}">{{ theme }}</a><br>

{% endfor %}
#}
</main>


{% endblock %}
